body {
  background-image: url('../images/background.png');
  font-family: helvetica;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
  

.list-group-item{
    margin: 5px;
}

.container{
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
}

h1{
    color: #423e3e;
    font-size: 40px;
}
h1, p, .list-group-item, #imageHolder, #giftarget{
    display: flex;
    justify-content: center;
}
#question{
    font-size:30px;
}
#timeRemaining{
    font-size: 25px;
}

